@media print {
  $body-font: "Roboto", sans-serif;
  $main-color: #f8f9f9;
  $letra-black: #212f3d;
  $color-orange: #edbb99;
  $right-color: #d5dbdb;
  $left-color: #aed6f1;
  $color-maxilodent: #1a939e;
  $color-radiologia: #e67e22;
  $color-castulo: #16a085;
  $color-coosalud: #75b948;
  $color-ilustracion: #f9a826;
  $color-linea: #abb2b9;
  $color-linea: #abb2b9;
  @page {
    margin: 0;
    size: auto;
  }

  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  .padre {
    .all-content {
      height: 90vh;
      .left__formatoNoContratados {
        height: 83vh;
        &::before {
          opacity: 1;
          background-size: 100%;
        }
        .left__formatoNoContratados__content {
          font-size: 12px;

          .content__parte1 {
            opacity: 1;
            width: 95%;
            margin-top: 10px;
            border: 1px solid $letra-black;
            .content__parte1__logo {
              border-right: 1px solid $letra-black;
              width: 30%;
              img {
                width: 70%;
              }
            }
            .content__parte1__cods {
              text-align: start;
              border-left: 1px solid $letra-black;
              width: 30%;
              padding-left: 5px;
              .cods__1,
              .cods__2 {
                border-bottom: 1px solid $letra-black;
              }
            }
          }

          .content__parte2 {
            text-align: start;
            height: 250px;

            .content__parte2__coosalud {
              display: flex;
              flex-direction: column;
            }
          }

          .content__parte3 {
            .content__parte3__tableInfoPaciente {
              font-size: 13px;
              .tableInfoPaciente__infoInputs {
                input {
                  border: none;
                }
                .infoInputs__data {
                  font-size: 12px;
                }
                .infoInputs__insertData {
                  text-align: start;
                  width: 50%;
                  input {
                    font-size: 12px;
                  }

                  .insertData__ident {
                    display: flex;
                  }
                }
              }
            }
          }

          .content__parte4 {
            input {
              border: none;
            }

            .content__parte4__tableDescriptions {
              .tableDescriptions__content {
                .tableDescriptions__content__encabezado {
                  background-color: $color-orange;
                  text-align: center;
                  font-size: 13px;
                  .enca_cod {
                    width: 15%;
                  }

                  .enca_desc {
                    width: 80%;
                  }

                  .enca_cant {
                    width: 10%;
                  }

                  .enca_valor {
                    width: 15%;
                  }
                }
                #cod_cums {
                  width: 15%;
                }
                #descriptions {
                  width: 80%;
                }
                #cant {
                  width: 10%;
                }
                #class_valor {
                  width: 15%;
                }

                .tableDescriptions__content__desc {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  //background-color: $left-color;
                  width: 100%;

                  input {
                    font-size: 12px;
                  }
                }

                .tableDescriptions__valorTotal {
                  font-weight: 700;
                  display: flex;
                  justify-content: space-between;
                  .miValorTotal {
                    width: 66px;
                  }
                }
              }
            }
          }

          .content__parte5 {
            //background-color: $left-color;
            display: block;
            width: 90%;
            font-weight: 700;
            margin-top: 20px;
          }

          .content__parte6 {
            //background-color: $left-color;
            width: 90%;
            .content__parte6__desc {
              display: flex;
              flex-direction: column;
              height: 250px;
              justify-content: space-around;
              .parte6__firmas {
                font-weight: 700;
                display: flex;
                flex-direction: column;

                img {
                  width: 90px;
                }
              }
              .parte6__infoFooter {
                display: flex;
                flex-direction: column;
                color: $letra-black;
              }
            }
          }
        }
      }
    }
  }
}
