@media print {
  @page {
    margin: 0;
    size: auto;
  }
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  .padre .all-content .left__formatoNoContratados::before {
    opacity: 1;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content {
    font-size: 12px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte1 {
    opacity: 0.5;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte2 {
    text-align: start;
    margin-top: 10px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte3 .content__parte3__tableInfoPaciente .tableInfoPaciente__infoInputs input {
    border: none;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte3 .content__parte3__tableInfoPaciente .tableInfoPaciente__infoInputs .infoInputs__data {
    font-size: 12px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte3 .content__parte3__tableInfoPaciente .tableInfoPaciente__infoInputs .infoInputs__insertData {
    text-align: start;
    width: 75%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte3 .content__parte3__tableInfoPaciente .tableInfoPaciente__infoInputs .infoInputs__insertData input {
    font-size: 10px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte3 .content__parte3__tableInfoPaciente .tableInfoPaciente__infoInputs .infoInputs__insertData .insertData__ident {
    display: flex;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 input {
    border: none;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content {
    height: 100px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__encabezado {
    background-color: #edbb99;
    text-align: center;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__encabezado .enca_cod {
    width: 15%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__encabezado .enca_desc {
    width: 80%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__encabezado .enca_cant {
    width: 10%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__encabezado .enca_valor {
    width: 15%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content #cod_cums {
    width: 15%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content #descriptions {
    width: 80%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content #cant {
    width: 8%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content #class_valor {
    width: 13%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__content__desc input {
    font-size: 8px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte4 .content__parte4__tableDescriptions .tableDescriptions__content .tableDescriptions__valorTotal {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #abb2b9;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte5 {
    width: 90%;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 2px solid #abb2b9;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte6 {
    width: 90%;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte6 .content__parte6__desc {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte6 .content__parte6__desc .parte6__firmas {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #abb2b9;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte6 .content__parte6__desc .parte6__firmas img {
    width: 90px;
    margin-bottom: 5px;
  }
  .padre .all-content .left__formatoNoContratados .left__formatoNoContratados__content .content__parte6 .content__parte6__desc .parte6__infoFooter {
    display: flex;
    flex-direction: column;
    color: grey;
  }
}/*# sourceMappingURL=styles__print__noContratados.css.map */