@use "./partials/config";

//variables

$body-font: "Roboto", sans-serif;
$main-color: #f8f9f9;
$letra-black: #212f3d;
$letra-orange: #dc7633;
$right-color: #d5dbdb;
$left-color: #aed6f1;
$color-maxilodent: #1a939e;
$color-radiologia: #e67e22;
$color-castulo: #16a085;
$color-coosalud: #75b948;
$color-ilustracion: #f9a826;

body {
  background-color: $main-color;
  font-family: $body-font;
  color: $letra-orange;
}

.padre {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .all-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212f3d;
    margin-top: 15px;
    color: $letra-orange;
    height: 870px;
    width: 90%;

    .left {
      //background-color: $left-color;
      width: 100%;
      height: 100%;
      border: 2px solid $letra-black;

      .formato__bloque1 {
        color: $letra-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //border-bottom: 1px solid $letra-black;
        height: 120px;
        //background-color: #FEF5E7;

        .bloque1__parte1 {
          padding-left: 20px;
        }

        .bloque1__parte2 {
          //background-color: #FEF5E7;
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          width: 300px;
          span {
            font-weight: 700;
          }
        }

        .bloque1__parte3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 30px 0 30px;
          span {
            font-weight: 500;
          }
        }
      }

      .formato__bloque2 {
        color: $letra-black;
        display: flex;
        justify-content: space-between;
        //border-bottom: 1px solid $letra-black;
        height: 180px;
        #remiteA {
          padding-bottom: 6px;
        }

        .bloque2__parte1 {
          padding-left: 20px;

          span {
            font-weight: 500;
          }
        }
        .bloque2__parte2 {
          align-items: center;
          .maxilodent {
            font-size: 20px;
            color: $color-maxilodent;
            font-weight: 700;
          }

          .radiologia {
            font-size: 20px;
            color: $color-radiologia;
            font-weight: 700;
          }

          .castulo {
            font-size: 20px;
            color: $color-castulo;
            font-weight: 700;
          }
          #title__coosalud {
            color: $color-coosalud;
          }

          span {
            font-weight: 500;
          }
        }

        .bloque2__parte2,
        .bloque2__parte1,
        .bloque2__parte3 {
          display: flex;
          flex-direction: column;
        }

        .bloque2__parte3 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 0 20px;
          height: 170px;
          span {
            font-weight: 500;
          }
        }
      }

      .formato__bloque3 {
        color: $letra-black;
        display: flex;
        //border-bottom: 1px solid $letra-black;
        span {
          font-weight: 500;
        }

        .bloque3__parte1 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 21%;
          padding-left: 20px;
          height: 200px;
        }
        .bloque3__parte2 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          padding-left: 20px;

          #nombres {
            width: 90%;
          }

          #documento {
            width: 90%;
          }

          #servicios {
            width: 98%;
          }
        }
      }

      .formato__bloque4 {
        span {
          font-weight: 500;
        }
        .bloque4__parte1 {
          color: $letra-black;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //border-bottom: 1px solid $letra-black;
          padding-left: 20px;
          width: 100%;
          height: 50px;

          #copago {
            width: 20%;
          }
          .bloque4__parte1__copago {
            display: flex;
            align-items: center;
            width: 83%;
            padding-left: 20px;
          }
        }

        .bloque4__parte2 {
          display: flex;
          align-items: center;
          padding-left: 20px;
          color: $letra-black;
          //border-bottom: 1px solid $letra-black;
          height: 100px;

          .bloque4__parte2__img-resultado {
            width: 80%;
            display: flex;
            justify-content: center;
          }
        }

        .bloque4__parte3 {
          display: flex;
          align-items: center;
          padding-left: 20px;
          width: 100%;
          color: $letra-black;
          //border-bottom: 1px solid $letra-black;
          height: 100px;
          .bloque4__parte3__firma {
            display: flex;
            justify-content: space-between;
            margin-left: 200px;
            width: 75%;
          }
        }

        .bloque4__parte4 {
          color: $letra-black;
          display: flex;
          align-items: center;
          padding-left: 20px;
          height: 85px;

          .bloque4__parte4__quien-autoriza {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 87%;
          }
        }
      }
    }

    .right__print {
      display: none;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 50%;
      color: $letra-black;
      font-weight: 500;
      input:checked {
        background-color: $color-ilustracion;
      }

      .right__title {
        font-size: 3em;
        font-weight: 700;
        color: $letra-black;
        span {
          color: $color-ilustracion;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .all-content {
    flex-direction: column;

    .left {
      .formato {
        font-size: 10px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 150px;
            height: 80%;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;
            .maxilodent {
              font-weight: 500;
              font-size: 13px;
            }
            .radiologia {
              font-weight: 500;
              font-size: 13px;
            }
            .castulo {
              font-weight: 500;
              font-size: 13px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 100px;
          }

          .bloque3__parte2 {
            input {
              font-size: 10px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 7px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 10px;
            }
          }

          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              img {
                width: 50%;
                height: 90%;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              margin-left: 30px;

              img {
                width: 40%;
              }
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
  .all-content {
    flex-direction: column;

    .left {
      .formato {
        font-size: 10px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 150px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;
            .maxilodent {
              font-weight: 500;
              font-size: 13px;
            }
            .radiologia {
              font-weight: 500;
              font-size: 13px;
            }
            .castulo {
              font-weight: 500;
              font-size: 13px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 100px;
          }

          .bloque3__parte2 {
            input {
              font-size: 10px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 9px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 10px;
            }
          }

          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              img {
                width: 50%;
                height: 90%;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              margin-left: 30px;

              img {
                width: 40%;
              }
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
  .all-content {
    flex-direction: column;

    .left {
      .formato {
        font-size: 12px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 180px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;
            .maxilodent {
              font-weight: 500;
              font-size: 15px;
            }
            .radiologia {
              font-weight: 500;
              font-size: 15px;
            }
            .castulo {
              font-weight: 500;
              font-size: 15px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 150px;
          }

          .bloque3__parte2 {
            input {
              font-size: 13px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 10px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 12px;
            }
          }

          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              img {
                width: 200px;
                height: 90%;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              margin-left: 30px;

              img {
                width: 30%;
              }
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1600px){
  .all-content {
    flex-direction: row;

    .left {
      .formato {
        font-size: 12px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 180px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;
            .maxilodent {
              font-weight: 500;
              font-size: 15px;
            }
            .radiologia {
              font-weight: 500;
              font-size: 15px;
            }
            .castulo {
              font-weight: 500;
              font-size: 15px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 150px;
          }

          .bloque3__parte2 {
            input {
              font-size: 13px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 10px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 12px;
            }
          }

          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              img {
                width: 200px;
                height: 90%;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              margin-left: 30px;

              img {
                width: 30%;
              }
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      font-size: 12px;
      .ilustracion {
        display: block;
        width: 70%;
        img {
          width: 100%;
        }
      }
      .right__options {
        padding: 20px 0 20px 0;
        font-size: 15px;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

