//!Seccion Formato De Servicios No Contratados

//variables

$body-font: "Roboto", sans-serif;
$main-color: #f8f9f9;
$letra-black: #212f3d;
$color-orange: #edbb99;
$right-color: #d5dbdb;
$left-color: #aed6f1;
$color-maxilodent: #1a939e;
$color-radiologia: #e67e22;
$color-castulo: #16a085;
$color-coosalud: #75b948;
$color-ilustracion: #f9a826;
$color-linea: #abb2b9;

#btn_autorizaciones {
  display: none;
}

#format_cotizaciones {
  display: none;
}

#spanTitle_format_cotizaciones {
  display: none;
}
#img__ilustracion_cotizaciones {
  display: none;
}
.padre {
  .all-content {
    .left__formatoNoContratados {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: flex-end;
      color: $letra-black;
      position: relative;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 20px;
      .img__superSalud {
        position: relative;
        text-align: end;
      }
      &::before {
        content: "";
        background-image: url("/img/fondoLogo.jpg");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
      }
      .left__formatoNoContratados__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 8px;
        border: 2px solid $letra-black;
        position: relative;
        

        .content__parte1 {
          opacity: 0.7;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          width: 90%;
          border-bottom: 2px solid $color-linea;
          //background-color: $left-color;
          .content__parte1__logo {
            img {
              width: 80%;
            }
          }
          .content__parte1__title {
            font-weight: 700;
          }
        }

        .content__parte2 {
          //background-color: $left-color;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
          width: 90%;
          border-bottom: 2px solid $color-linea;
        }

        .content__parte3 {
          //background-color: $left-color;
          width: 90%;
          .content__parte3__tableInfoPaciente {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            height: 150px;
            .tableInfoPaciente__title {
              background-color: $color-orange;
              font-weight: 700;
            }
            .tableInfoPaciente__infoInputs {
              display: flex;
              font-weight: 700;
              .infoInputs__data {
                width: 25%;
                text-align: start;
                font-size: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
              }
              .infoInputs__insertData {
                text-align: start;
                width: 75%;
                input {
                  font-size: 8px;
                }

                .insertData__ident{
                  display: flex;
                }
              }
            }
          }
        }

        .content__parte4 {
          // background-color: $left-color;
          width: 90%;

          //text-align: center;
          .content__parte4__tableDescriptions {
            display: flex;
            flex-direction: column;
            .tableDescriptions__content {
              height: 100px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .tableDescriptions__content__encabezado {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $color-orange;
                font-weight: 700;
                width: 100%;
              }

              .tableDescriptions__content__desc {
                display: flex;
                justify-content: space-between;
                align-items: center;
                //background-color: $left-color;
                width: 100%;

                input {
                  font-size: 8px;
                }
              }

              .tableDescriptions__valorTotal {
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid $color-linea;
              }
            }
          }
        }

        .content__parte5 {
          //background-color: $left-color;
          width: 90%;
          font-weight: 700;
          margin-top: 20px;
          border-bottom: 2px solid $color-linea;
        }

        .content__parte6 {
          //background-color: $left-color;
          width: 90%;
          .content__parte6__desc {
            display: flex;
            flex-direction: column;
            height: 200px;
            justify-content: space-around;
            .parte6__firmas {
              font-weight: 700;
              display: flex;
              flex-direction: column;
              border-bottom: 2px solid $color-linea;
              img {
                width: 90px;
              }
            }
            .parte6__infoFooter {
              display: flex;
              flex-direction: column;
              color: grey;
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 670px) and (max-width: 770px) {
  .padre {
    .all-content {
      .left__formatoNoContratados {
        .left__formatoNoContratados__content {
          font-size: 13px;

          .tableDescriptions__content__encabezado {
            text-align: center;
            .enca_cod {
              width: 15%;
            }

            .enca_desc {
              width: 60%;
            }

            .enca_cant {
              width: 10%;
            }

            .enca_valor {
              width: 20%;
            }
          }

          #cod_cums {
            width: 15%;
          }
          #descriptions {
            width: 60%;
          }
          #cant {
            width: 10%;
          }
          #class_valor {
            width: 20%;
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 770px) and (max-width: 1070px) {
  .padre {
    .all-content {
      .left__formatoNoContratados {
        width: 90%;
        .left__formatoNoContratados__content {
          font-size: 13px;

          .tableDescriptions__content__encabezado {
            text-align: center;
            .enca_cod {
              width: 15%;
            }

            .enca_desc {
              width: 60%;
            }

            .enca_cant {
              width: 10%;
            }

            .enca_valor {
              width: 20%;
            }
          }

          #cod_cums {
            width: 15%;
          }
          #descriptions {
            width: 60%;
          }
          #cant {
            width: 10%;
          }
          #class_valor {
            width: 20%;
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1070px) and (max-width: 1600px) {
  .padre {
    .all-content {
      .left__formatoNoContratados {
        width: 90%;
        .left__formatoNoContratados__content {
          font-size: 13px;
          .content__parte2 {
            text-align: start;
          }
          .content__parte3 {
            .content__parte3__tableInfoPaciente {
              .tableInfoPaciente__infoInputs {
                .infoInputs__insertData {
                  input {
                    font-size: 10px;
                  }
                }
              }
            }
          }
          .content__parte4 {
            .content__parte4__tableDescriptions {
              .tableDescriptions__content {
                .tableDescriptions__content__desc {
                  input {
                    font-size: 10px;
                  }
                }
              }
            }
          }
          .content__parte6 {
            .content__parte6__desc {
              height: 250px;
            }
          }
          .tableDescriptions__content__encabezado {
            text-align: center;

            .enca_cod {
              width: 15%;
            }

            .enca_desc {
              width: 60%;
            }

            .enca_cant {
              width: 10%;
            }

            .enca_valor {
              width: 20%;
            }
          }

          #cod_cums {
            width: 15%;
          }
          #descriptions {
            width: 60%;
          }
          #cant {
            width: 10%;
          }
          #class_valor {
            width: 20%;
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .padre {
    .all-content {
      .left__formatoNoContratados {
        width: 60%;
        margin-left: 50px;
        .left__formatoNoContratados__content {
          font-size: 13px;
          .content__parte2 {
            text-align: start;
          }

          .content__parte3 {
            .content__parte3__tableInfoPaciente {
              .tableInfoPaciente__infoInputs {
                .infoInputs__insertData {
                  input {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .content__parte4 {
            .content__parte4__tableDescriptions {
              .tableDescriptions__content {
                .tableDescriptions__content__desc {
                  input {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .content__parte6 {
            .content__parte6__desc {
              height: 250px;
            }
          }
          .tableDescriptions__content__encabezado {
            text-align: center;
            .enca_cod {
              width: 15%;
            }

            .enca_desc {
              width: 60%;
            }

            .enca_cant {
              width: 10%;
            }

            .enca_valor {
              width: 20%;
            }
          }

          #cod_cums {
            width: 15%;
          }
          #descriptions {
            width: 60%;
          }
          #cant {
            width: 10%;
          }
          #class_valor {
            width: 20%;
          }
        }
      }
    }
  }
}
